<h1>weather app</h1>

<div class="panelList">
  <ng-container>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
    <app-panel class="panelListItem"></app-panel>
  </ng-container>
</div>
